<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="TestDeploymentTwoWar">
        <wb-resource deploy-path="/" source-path="/" tag="defaultRootSource"/>
        <dependent-module archiveName="TestDeploymentWar01.war" deploy-path="/" handle="module:/resource/TestDeploymentWar01/TestDeploymentWar01">
            <dependent-object>Module_1462611709265</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="TestDeploymentWar02.war" deploy-path="/" handle="module:/resource/TestDeploymentWar02/TestDeploymentWar02">
            <dependent-object>Module_1462612032010</dependent-object>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>